html{
    box-sizing: border-box;
    
}
*,*:before,*:after{
    box-sizing: inherit;
} 
body{
   padding:0px;
   margin: 0px;
   background-color:#f0ede2;
}
/*bar section begin*/
.admin-bar{
    background-color:#f0ede2;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 1px 5px rgba(0, 0,0, .5);
    display: grid;
    
   
   
    
}

.item{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
 
    order: 1;
    flex: initial;
    list-style-type: none;
    text-align: center;
 
 
    
   

    
 
}
.user{
    text-transform: uppercase;
    margin: 5px;
    order: 0;
    flex: initial;
    list-style-type: none;
    padding: 20px 30px 20px 30px;
    width: 100%;
    
 

}
 .selected{  
    border-bottom : 3px solid rgb(238, 164, 94);
 }


.item a{
    text-decoration: none;
    color: rgb(110, 110, 110);
    display: block;
    padding: 20px 30px 20px 30px;
    margin: 5px;
    display: none;
    
   
 
     
     
 }
 .item a i{
  font-size: 18px;
    
   
 
     
     
 }
 
 /*bar section end*/
 .product-description{
     height: 120px;
     width: 210px;
     border: 3px solid #cccccc;
     padding: 5px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-position: bottom right;
     background-repeat: no-repeat;
 }
 .product-section table th,td{
     padding: 8px 5px;
     text-align: left;
    
 }
 .product-section table thead{
   background:white;
   box-shadow: 0px 1px 5px rgba(0, 0,0, .5);
   
}


 .product-section table {
   width: 100%;
   
}
.post-section{
    position: relative;
}

.toggleMenuLeft h1{
    background:rgb(238, 164, 94);
    padding: 0px 2px 2px 20px;
    margin: 0px;
    color: white;
  
   

}
.toggleMenuLeft .back{
   font-size: 20px;
}
.toggleMenuLeft .back:hover{
    font-size: 30px;
 }
.toggleMenuLeft{
   position: absolute;
   z-index: 2;
   top: 0;
   background-color: white;
   display: none;
   width: 90%;
   box-shadow: 0px 1px 5px rgba(0, 0,0, .5);
   margin-right: 10px;
}
.toggleMenuLeft p{
   margin-left:20px ;


 }
 img{
     width: 50px;
     border-radius: 50px;
 }
 .toggleMenuLeft input[type="text"]{
     height: 25px;
     border-radius: 20px ;
     width: 200px;
     outline: none;
     font-family: "Comic Sans Ms","TSCu_Comic";
 }
 .select a{
    display: block;

}

/*update style*/
.product-image{
    position: relative;
}
.update-image{
    position: absolute;
    top: 30px;
    left: 40px;
    cursor: pointer;
   
    
    
}
.update-image:hover,td div a:hover,td a:hover{
    color:rgb(214, 81, 196)
    
}
td div a,td a{
    cursor: pointer;
}
.update_product{
    position: fixed;
    z-index: 2;
    top:40%;
    background: white;
    border-radius: 20px;
    padding: 10px;
    display: none;
}
/*orders style begin*/
.orders ul{
    display: flex;
    justify-content: flex-start;
}
.orders ul li{
   padding: 10px;
   margin-left: 10px;
   list-style-type: none ;
   background-color:rgb(27, 103, 190) ;
}
.orders ul li{
    padding: 10px;
    margin-left: 10px;
    list-style-type: none ;
    background-color:rgb(27, 103, 190) ;
 }
 .orders ul li a{
  text-decoration: none;
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 }





 @media all and (min-width:960px){
    .toggleMenuLeft{
        width: 500px;
     }
     .item{     
         flex-wrap: nowrap;
         flex:4;
         order: 0;
        
     }
     .item a{
        width: auto;
        display: block;
     }
  
    .user{
        width: auto;
        order: 1;
    }
    .admin-bar{
        display: flex;
        
        
    }
  

 }